
@media screen and (max-width: 991px) {

  #sideNav, #sideNav.navShow {
    left: 0;
  }

  #sideNav {
    top: 0;
    height: 54px;
  }
  
  .navbar-brand {
    margin-right: 0;
  }

  .navbarContent {
    transform: rotate(0);
    width: 100%;
    margin-left: 0 !important;
    height: auto;
  }
  
  nav {
    transform: rotate(0);
  }

  .navbar-collapse {
    transition: none;
  }

  .navbar-nav, .navbar-toggler {
    background-color: #3066be;
  }

  .navbar-toggler {
    border-radius: 0;
  }

  #sideNav .navbar-toggler:focus {
    outline: auto;
  }

  .switcher {
    top: 100px;
  }

  .main {
    margin-left: 0 !important;
  }

  .cardWrap {
    flex-wrap: wrap;
  }

  .card {
    /* margin-left: 0 !important; */
    margin-top: 30px;
  }
}