@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "nav.scss";
@import "resume-item.scss";
@import "bootstrap-overrides.scss";

body {
  opacity: 0;
  transition: opacity 1s;
}

h1 {
  opacity: 0;
}

.email {
  font-size: 1.5rem;
}

.show {
  opacity: 1;
}

nav {
  transform: translateX(-50vw);
  transition: transform 1.5s;
}

.navShow {
  transform: translateX(0);
}

.social-icons a {
  transition: transform .3s cubic-bezier(0, 1, 1, 1.3);
  &:hover {
    transform: scale(1.3);
  }
  &:first-child:hover {
    background-color: #2E2D2D;
  }
  &:nth-child(2):hover {
    background-color: #0077AE;
  }
  &:last-child:hover {
    background-color: #2F528F;
  }
}

.dev-icons {
  font-size: 4rem;
  opacity: 0;
  transition: opacity .5s;
}

.subheadingGroup1 {
  opacity: 0;
}

.subheadingGroup2 {
  opacity: 0;
}

.subheadingGroup3 {
  opacity: 0;
}

.subheadingGroup4 {
  opacity: 0;
}
.subheadingGroup5 {
  opacity: 0;
}
